{% extends 'base.html' %}

{% block content %}

{% for client in clients %}

<center>
<div>
	<h1> {{ client.address }} </h1>
    <b>Service Details:</b> {{ client.service_duration }} 
    minutes {{ client.services_per_month }} time(s) per month
    </br> <b> TRUCK #: </b> {{ client.truck }}
    </br> <b> EMAIL: </b> {{ client.email }}
    </br> <b> PHONE NUMBER: </b> {{ client.phone_number }}
    </br> <b> FIRST NAME: </b> {{ client.first_name }}
    </br> <b> LAST NAME: </b> {{ client.last_name }}
    </br> <b> NOTES: </b> {{ client.notes }}
    </br> <b> Pictures: </b> {{ client.images }}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mutliple Upload</title>
    <style>
        img {
            height: 200px;
            width: 200px;
        }
    </style>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="images" multiple>
        <button>Upload</button>
    </form>
    <hr>
    {% for img in images %}
    <img src="{{img.images.url}}" alt="Image">
    {% endfor %}
</body>
</center>

{% endfor %}

{% endblock %}
</div>
<head>
